@model IEnumerable<codeFirstApproach.Models.Student>

@{
    ViewData["Title"] = "Student Admission Record";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(TempData["message"] !=null){

    var alertClass = TempData["message"].ToString() == "Deleted" ? "alert-danger" : "alert-success";

    <div class="alert @alertClass alert-dismissible fade show" role="alert">
        <strong>Succesfully !</strong> Data Has been  @TempData["message"] .
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


}

<table class="table table-dark table-bordered table-hover table-stripe">
    <thead>
        <tr>
            <th>
               Student Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
